* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", "sans-serif";
  overflow-x: hidden;
}
main {
  width: 100%;
  height: 100%;
}
header {
  display: grid;
}
nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  height: 65px;
  top: 0;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 999;
}

nav ul {
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-between;
  margin-bottom: 7px;
  font-size: 120%;
}

nav ul li a {
  color: black;
  text-decoration: none;
  margin: auto;
}
nav ul li a:hover {
  color: rgb(131, 129, 129);
}
.logo h4 a {
  color: black;
  text-decoration: none;
}

.menu-toogle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toogle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toogle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toogle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toogle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toogle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toogle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toogle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
@media only screen and (max-width: 750px) {
  .menu-toogle {
    display: flex;
  }
  nav ul {
    position: absolute;
    padding-left: 190px;
    top: 0;
    flex-direction: column;
    height: 50vh;
    align-items: right;
    justify-content: space-evenly;
    z-index: -1;
    width: 100%;
    transform: translateX(100%);
    background-color: rgb(255, 255, 255);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0%);
    opacity: 1;
  }
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .detection-result-info {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-left: 400px;
  }
  .detail-result img {
    width: 270px;
    height: 232px;
    margin-top: 10px;
    border-radius: 20px;
  }
  .detection-image {
    width: 270px;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .menu-toogle {
    display: flex;
  }
  nav ul {
    position: absolute;
    padding-left: 125px;
    top: 0;
    flex-direction: column;
    height: 50vh;
    align-items: right;
    justify-content: space-evenly;
    z-index: -1;
    width: 100%;
    transform: translateX(100%);
    background-color: rgb(255, 255, 255);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .detail-result img {
    width: 270px;
    height: 232px;
    margin-top: 10px;
    border-radius: 20px;
  }
  .detection-image {
    width: 270px;
    height: 200px;
  }
  .detection-type-selection-child {
    display: inline-block;
    margin: 20px 350px;
    column-gap: 50px;
    padding-left: 190px;
    padding-right: 190px;
  }

  .detection-type-selection-child {
    border-radius: 25px;
    display: inline;
  }
}

.detection-type-selection {
  display: inline-block;
  margin: 20px 650px;
  column-gap: 50px;
  padding-left: 590px;
  padding-right: 590px;
}

.detection-type-selection-child {
  border-radius: 25px;
}
.detection-type-selection-child:hover {
  cursor: pointer;
  color: #54616c;
}
.para {
  font-size: 18px;
  text-align: center;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detection-input {
  width: 85%;
  border-radius: 20px;
  padding: 40px;
  margin: 40px auto;
}

.before-choose-display {
  margin-top: 10px;
}

.input-image-button {
  margin-top: 20px;
}
.fruit-freshness-display {
  border-radius: 20px;
  height: 520px;
}
.fruit-freshness-display h2 {
  padding-top: 25px;
}
.plant-health-display {
  border-radius: 20px;
  height: 520px;
}
.plant-health-display h2 {
  padding-top: 25px;
}
.button-container {
}

button {
  border: 0;
  border-radius: 20px;
  width: 25%;
  padding: 8px;
  margin: 5px;
}

.image-detection {
  background-color: rgb(43, 123, 96);
  color: white;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

.image-detection:hover {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}

.image-delete {
  background-color: darkred;
  color: white;
  margin: 2px;
  border-radius: 20px;
}

.image-delete:hover {
  background-color: pink;
  color: black;
  font-weight: bold;
}

.detection-result {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 80%;
  border-radius: 20px;
  padding: 40px;
  margin: 40px auto;
}

.detection-result-detail {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  padding: 5px;
  margin: 5px;
}
.text-detection {
  text-align: center;
}
.image-result {
  display: flex;
  flex-basis: 60%;
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px;
  margin-left: -10px;
}

.detection-result-info {
  display: inline-block;
  flex-direction: column;
  flex-basis: 100%;
  margin-left: 50px;
  margin-right: 40px;
}
.l {
  color: white;
}
.detail-result {
  margin-top: 10px;
}

.detection-image {
  height: 300px;
  height: 300px;
}
.detection-image-result {
  width: 450px;
  height: 430px;
  margin-top: 10px;
  border-radius: 20px;
}
.logo-img {
  margin-left: 900px;
  margin-top: 11px;
  height: 35px;
}

.head-img {
  width: 100%;
  height: 895px;
  object-fit: cover;
}
.footer-basic {
  padding: 40px;
  background-color: #54616c;
  color: white;
  margin-top: 0;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  margin-top: 15px;
}

.footer-basic li {
  padding: 0 10px;
  margin-left: 15px;
  font-size: 120%;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 20px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: white;
  margin-bottom: 0;
}
.dashboard {
  margin-top: 100px;
}
.text-box {
  font-size: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 100px;
  top: 250px;
}
